.home {
  width: 100%;
  max-width: 1400px;
  padding: 100px;
  margin: 0 auto;
  h1 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  @media (max-width: 900px) {
    width: 100%;
    padding: 100px 50px 50px;
  }
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
